.chatContainer {
  height: 100%;
  /* border: solid 1px red; */
}

.chatButton {
  padding: 3px 6px;
  font-size: 0.9rem;
  border: none;
  border-right: 1px #333 solid;
  background-color: hsl(270, 90%, 40%);
  margin-bottom: 5px;
  cursor: pointer;
}

.chatButtonSelected {
  padding: 3px 6px;
  font-size: 0.9rem;
  border: none;
  border-right: 1px #333 solid;
  background-color: hsl(270, 25%, 30%);
  margin-bottom: 5px;
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  padding: 3px 0 0 0;
  flex-wrap: wrap;
  height: 40px;
  overflow: auto;
}