.mainContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* border: solid 1px red; */
}

.channelsContainer {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
  gap: 5px; */
} 

.channelsContainer > div {
  flex-grow: 0;
  flex-shrink: 1;
  /* flex-basis:  %; */
  margin: 2px;
  aspect-ratio: 16 / 9;
}

.chatContainer {
  height: 100%;
  width: 30%;
  color: #ddd;
  padding: 5px;
}

/* http://localhost:3000/lives/m0xyy/ljoga/gaules/peqitw/sinatraa/ml7support/m0xyy/ljoga/gaules/m0xyy/ml7support/m0xyy/ljoga/gaules/m0xyy/gaules */